*.o
*.so
Makefile
tmp/
ext/mquickjs/mqjs_stdlib_gen
ext/mquickjs/mkmf.log
ext/mquickjs/backup_*/
ext/mquickjs/mquickjs_atom.h
ext/mquickjs/mqjs_stdlib.h
ext/mquickjs/*.bundle
ext/mquickjs/.sitearchdir.*
lib/mquickjs/mquickjs_native.bundle
Gemfile.lock